*{
  box-sizing: border-box;
  margin: 0;
  cursor: default;
}

body{
  index: 0;
  margin: 0;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
}

img{
  display: block;
  max-width: 100%;
}

strong{
  font-weight: 700;
}

.flex{
  display: flex;
  flex-direction: column;
}



main{
  position: relative;
  min-height: 100vh;
}

/* ------------ */
/* blob section */
/* ------------ */

body::before,
body::after{
  position: absolute;
  content: '';
  width: 60%;
  index:-1;
  height: 80vh;
}

body::before{
  top: 0;
  left: -30%;
  background-color: hsl(264, 100%, 61%);
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-bottom-right-radius: 50%;
}

body::after{
  bottom: 0;
  right: -50%;
  background-color: hsl(270, 20%, 96%);
  border-top-left-radius: 50%;

}

/* ------------- */
/* -App Section- */
/* ------------- */

.app{
  max-width: 350px;
  margin: 2rem auto;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 8px 8px 32px hsl(0 0% 12%/.4);
  border: solid .5rem white;
}
/* -- App header -- */
.app__header{
  display: flex;
  align-items: center;
  padding: 3rem 1.5rem 1rem;
  gap: .5rem;
  position: relative;
  overflow: hidden;
  background-color: hsl(276, 100%, 81%);
  background-image: linear-gradient(90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  color: white;
}

.app__header::before{
  position: absolute;
  content: '';
  height: 4rem;
  width: 70%;
  background: white;
  top: -2rem;
  left: 15%;
  border-radius: 2rem;
}

.app__header p{
  color: hsl(276, 100%, 81%);
  font-size: .9rem;
}

.app__header__option{
  margin-left: auto;
}

.avtaar{
  max-width: 50px;
  border-radius: 50%;
  border: solid 2px;
}

/* -- App body -- */

.app__body{
  display: grid;
  gap: .75rem;
  padding: 1rem .75rem;
  background-color: hsl(270, 20%, 96%);
}

/* -- App msg Section -- */

.msg{
  max-width: 70%;
  padding: .25rem .5rem;
  background: red;
  font-size: 14px;
}

.msg--left{
  border-radius: 1rem 1rem 1rem .5rem;
  justify-self: start;
  color: hsl(276, 55%, 52%);
  background-color: hsl(270 44% 93%);
  box-shadow: 0 2px 8px hsl(276 55% 52%/0.4);
}

.msg--right{
  border-radius: 1rem 1rem .5rem 1rem;
  justify-self: end;
  color: hsl(271, 15%, 43%);
  background-color: hsl(0 100% 100%);
  box-shadow: 0 2px 8px hsl(0 0% 12%/0.4);
}

.msg--img{
  display: flex;
  justify-self: end;
}

.msg--img>img{
  width: 70px;
  margin-left: .5rem;
  border-radius: 4px;
}

.msg--pay{
  background-image: linear-gradient(90deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  color: hsl(0 100% 100%);
  padding-block: 1rem;
  display: flex;
  width: 80%;
  max-width: 80%;
  align-items: center;
  gap: .5rem;
}

.msg--pay i{
  color: hsl(289 100% 72%);
}

.msg--pay strong{
  padding-right: 1rem;
  font-size: 20px;
  margin-left: auto;
}

.chatbox__container{
  position:relative;
  padding:0;
  margin:0;
}

.chatbox{
  text-indent: 1rem;
  font-size: 1rem;
  width: 100%;
  padding: .5em;
  border-radius: 2em;
  border-color: transparent;
  outline: none;
}

.chatbox:focus{
  border-color: hsl(276, 55%, 52%);
}

.chatbox__img{
  position: absolute;
  right: .25rem;
  top: calc(50% - .5em);
  font-size: 2rem;
  color: hsl(271, 36%, 24%);
  transition: all 0.3s linear;
  cursor: pointer;
}

.chatbox__img:active{
  transform: scale(1.1);
}

/* --------------- */
/* Content Section */
/* --------------- */
.content{
  text-align: center;
  padding: 1.5rem;
}

.content h1{
  color: hsl(271, 36%, 24%);
}

.content p{
  color: hsl(270, 7%, 64%);
  margin-top: 1rem;
}



@media (min-width:700px) {
  .flex{
    flex-direction: row;
  }

  .flex>*{
    width: 50%;
  }

  .content{
    display: grid;
    align-content: center;
    text-align: left;
  }

  .content p{
    max-width: 450px;
  }
}
